{{#if coverage.length}}
    <h5>Ringer Coverage</h5>
    <ul>
        {{#each coverage}}
            <li>
                <a href="{{this.link}}" target="_blank">
                    {{this.headline}}
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13.03"><rect class="white-fill" y="5.75" width="15" height="1.5"/><rect class="white-fill" x="22.59" y="12.58" width="1.5" height="8.15" transform="translate(-16.69 8.13) rotate(-45)"/><rect class="white-fill" x="19.26" y="22.11" width="8.15" height="1.5" transform="translate(-21.08 9.95) rotate(-45)"/></svg>
                </a>
            </li>
        {{/each}}
    </ul>
{{/if}}
