@font-face {
  font-family: 'GT America';
  src: url('~assets/webfonts/GTAmerica/GTAmerica-LightItalic.woff2') format('woff2'),
      url('~assets/webfonts/GTAmerica/GTAmerica-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  // // font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('~assets/webfonts/GTAmerica/GTAmerica-Light.woff2') format('woff2'),
      url('~assets/webfonts/GTAmerica/GTAmerica-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('~assets/webfonts/GTAmerica/GTAmerica-Regular.woff2') format('woff2'),
      url('~assets/webfonts/GTAmerica/GTAmerica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('~assets/webfonts/GTAmerica/GTAmerica-RegularItalic.woff2') format('woff2'),
      url('~assets/webfonts/GTAmerica/GTAmerica-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  // font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('~assets/webfonts/GTAmerica/GTAmerica-Medium.woff2') format('woff2'),
      url('~assets/webfonts/GTAmerica/GTAmerica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('~assets/webfonts/GTAmerica/GTAmerica-MediumItalic.woff2') format('woff2'),
      url('~assets/webfonts/GTAmerica/GTAmerica-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  // font-display: swap;
}

@font-face {
  font-family: 'Decima';
  src: url('~assets/webfonts/Decima/Decima.woff2') format('woff2'),
      url('~assets/webfonts/Decima/Decima.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Decima';
  src: url('~assets/webfonts/Decima/DecimaLight.woff2') format('woff2'),
      url('~assets/webfonts/Decima/DecimaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('~assets/webfonts/Druk/Druk-WideHeavyItalic.woff2') format('woff2'),
      url('~assets/webfonts/Druk/Druk-WideHeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Super';
  src: url('~assets/webfonts/Druk/Druk-WideSuper.woff2') format('woff2'),
      url('~assets/webfonts/Druk/Druk-WideSuper.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide';
  src: url('~assets/webfonts/Druk/DrukWide-Heavy.woff2') format('woff2'),
      url('~assets/webfonts/Druk/DrukWide-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Druk Wide Super';
  src: url('~assets/webfonts/Druk/DrukWide-SuperItalic.woff2') format('woff2'),
      url('~assets/webfonts/Druk/DrukWide-SuperItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

