#main{
  position:relative;
  z-index:1;
}
.main-section{
  width: 82.75%;
  // opacity:0;
  @include single-column {
    width:100%;
  }
  @include mobile {
    max-width:100vw;
    overflow-x:hidden;
  }
  &-enter,
  &.appear{
    opacity:0;
  }
  &-enter-to,
  &.appear-to{
    opacity:1
  }

  &-leave{
    opacity:1;
  }

  &-leave-to{
    opacity:0
  }

  &-enter-active{
    transition:opacity 0.25s linear 0.5s;
  }
  
  &-leave-active{
    transition:opacity 0.25s linear;
  }
}