@mixin updated-text{
  font-family: 'Decima';
  font-weight: normal;
  font-style:normal;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size:20px;
  @include non-mobile{
    font-size:29px;
  }
}

@mixin podcast-show-name{
  font-family: "Decima";
  font-size: 15px;
  color: #000000;
  letter-spacing: -0.11px;
  line-height: 13px;
  text-transform:uppercase;
}

@mixin podcast-episode-name{
  font-family: "GT America";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}

@mixin podcast-duration{
  font-family: 'GT America';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

@mixin inter-title{
  font-family: 'Druk Wide';
  font-style:italic;
  font-size:45px;
  font-weight:normal;
  letter-spacing:1.864px;
  text-transform:uppercase;
  line-height:45px;
  max-width:70%;
  .app--nba & {
    font-family: "GT America Condensed",Arial,sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -.29px;
    text-transform: normal;
    line-height: 1.2;
    max-width: 70%;
    text-transform:none;
  }
  @include single-column{
    font-size:36px;
    line-height:36px;
    max-width:80%;
    .app--nba & {
      font-size:36px;
      line-height:36px;
      max-width:80%;
    }
  }
  @include mobile{
    font-size:19px;
    line-height:20px;
    max-width:100%;
    .app--nba & {
      font-size:19px;
      line-height:20px;
      max-width:100%;
    }
  }
}

@mixin header-nav-link{
  font-family: 'Decima';
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 125%;
  .app--nba & {
    font-family: "GT America Condensed";
    font-weight:500;
    letter-spacing:0.03em;
  }
  @include single-column{
    font-size:22px;
    line-height:22px;
  }
  @include mobile{
    font-size: 13px;
    padding:5px 4px;
    line-height: .8;
  }
}

@mixin demibold-title{
  font-family: 'Decima';
  font-weight: normal;
  font-size: 18px;
  line-height:18px;
  letter-spacing: 0;
  text-transform: none;
  .app--nba & {
    font-family: "GT America Condensed";
    font-size:16px;
    line-height:16px;
    letter-spacing: .03em;
  }
  @include single-column{
    // font-size:13px;
  }
}

@mixin filter-section-title{
  font-family: 'Decima';
  color:$darkgray;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  margin-bottom:5px;
  .app--nba & {
    font-family: "GT America Condensed";
    font-size:16px;
    letter-spacing:.03em;
  }
}

@mixin filter-option{
  font-weight:normal;
  font-size:13px;
  line-height:100%;
  letter-spacing:0;
}

@mixin mobile-nav-label{
  font-family: 'Decima';
  text-transform: uppercase;
  font-size: 17px;
  line-height: 14px;
  margin-top:1px;
  font-weight:normal;
  letter-spacing:.025em;
  .app--nba & {
    font-family:"GT America Condensed";
  }
}

@mixin stat-title{
  font-size: 13px;
  letter-spacing: .05em;
  text-transform:uppercase;
  line-height:17px;
  font-weight:500;
}

@mixin stat-value{
  font-family: 'Decima';
  font-size: 26px;
  line-height: .77;
  font-weight:300;
  @include mobile{
    font-size:24px;
  }
}

@mixin selling-point{
  font-weight:600;
  font-size:12.5px;
  line-height: 125%;
  letter-spacing: .1em;
}

@mixin selling-point-strong{
  font-weight:normal;
  font-size:16px;
  line-height: 100%;
  letter-spacing: 0;
}

@mixin player-headline{
  font-weight:200;
  font-size: 26px;
  line-height: 1;
  @include tablet-portrait-only{
    font-size:22px;
  }
}
@mixin mobile-expand-label{
  font-family: 'GT America';
  color:$darkmediumgray;
  letter-spacing:0;
  text-transform:none;
  font-size:12px; 
  font-weight:normal;

}

@mixin header-sponsored-by{
  font-weight:500;
  font-size:14px;
  letter-spacing:0.05em;
  color:$white;
  text-transform:uppercase;
  @include single-column{
    font-size:18px;
    letter-spacing: 0.05em;
  }
  @include tablet-portrait-only{
    font-size:16px;
  }
  @include mobile{
    font-size:12px;
    line-height:12px;
  }
}

@mixin expanded-label{
  font-family: 'Decima';
  font-size: 18px;
  letter-spacing:0.025em;
  font-weight: normal;
  line-height: 13px;
  margin-bottom:5px;
  .app--nba & {
    font-family: "GT America Condensed";
  }
}

@mixin tooltip {
  line-height: 1;
  font-weight:500;
  font-size:13px;
}

@mixin player-card-body{
  font-size:15px;
  line-height:1.5;
  margin-bottom:30px;
  .app--nba & {
    letter-spacing:-0.01em;
  }
  @include mobile{
    line-height:1.4;
    margin-bottom:10px;
  }
}

@mixin slug{
  font-family: 'Decima';
  font-size:30px;
  line-height:30px;
  color:$lightestgray;
  font-weight:500;
  @include mobile{
    font-size:19px;
  }
}

@mixin card-rank{
  font-family: 'Decima';
  font-size:30px;
  line-height:30px;
  color:$lightestgray;
  font-weight:300;
  .app--nba & {
    font-family: "GT America Condensed";
  }
}

@mixin meta-bar-detail{
  font-size:17px;
  line-height:1.2;
  .app--nba & {
    font-family: "GT America Condensed";
    font-size:16px;
    line-height:1;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing: 0.03em;
  }
  @include mobile{
    font-size:19px;
  }
}

@mixin info-bubble{
  font-weight:normal;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 12px;
  text-align:center;
}

@mixin tablet-portrait-only {
  @media (min-width: #{$mobile-width+1}) and (max-width: #{$tablet-portrait-width - 1px}) {
    @content;
  }
}

@mixin non-mobile{
  @media (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin mobile{
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin single-column{
  @media (max-width: #{$small-desktop-width - 1}) {
    @content;
  }
}

@mixin single-column-only{
  @media (max-width: #{$small-desktop-width - 1}) and (min-width: #{$mobile-width + 1}) {
    @content;
  }
}

@mixin medium-desktop {
  @media (max-width: #{$medium-desktop-width}) {
    @content;
  }
}
@mixin tablet{
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-only{
  @media (min-width: #{$mobile-width + 1}) and (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet-landscape-and-below{
  @media(max-width: #{$tablet-landscape-width}){
    @content
  }
}