html{
  color: #000;
  font-size: 100%;
  font-family: 'GTAmerica', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

a{
  text-decoration:none;
  color:$black;
}

em{
  font-style:normal;
}

h1,
.headline{
  font-weight: 300;
  line-height: 1;
  color: #fffefe;
  text-transform: none;
  text-align: left;
  font-size:4vh;
  text-align:center;

  @include non-mobile{
    font-size: 14vw;
  }
  &--small{
    font-family:'Decima';
    text-align:center;
    text-transform:uppercase;
    font-weight:300;
    font-size: 4.5vw;
    line-height: 1;
    @include single-column{
      font-size:6vw;
    }
    @include mobile{
      font-size:9vw;
      line-height:9vw;
    }
  }
  &--big{
    font-family: 'Druk Wide Super', Arial, sans-serif;
    font-style:italic;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9vw;
    line-height:0.9;
    letter-spacing:.025em;
    margin:30px 0 45px;
    > span, 
    em{
      display:block;
      // margin:30px 0;
    }
    @include single-column{
      font-size:13.5vw;
      letter-spacing:.025em;
      line-height:0.9;
      > span{
        margin:-10px 0 20px;
      }
    }
    @include mobile {
      > span{
        margin:-10px 0 20px;
      }
    }
  }
  em {
    display:block;
    color:$highlight1;
  }
}

h2{
  font-weight: 100;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: none;
  color:$white;
  font-size: 17px;
  @include non-mobile{
    font-size: 22px;
  }
}

h3{
  font-family: 'Decima';
  font-weight:normal;
  font-size:28px;
  line-height:1.125;
  .player-card[data-player="antonio-gandy-golden"] &,
  .player-card[data-player="lloyd-cushenberry-iii"] &,
  .player-card[data-player="prince-tega-wanogho"] &,
  .player-card[data-player="akeem-davis-gaither"] &,
  .player-card[data-player="laviska-shenault-jr"] & {
    font-size:27px;
  }
  .player-card[data-player="clyde-edwards-helaire"] &{
    font-size:25px;
  }
}

h5{
  @include expanded-label;
}

p{
  // font-family: TTCommons, Arial, sans-serif;
  font-family: 'GT America';
  font-weight:normal;
  list-style: none;
  text-transform: none;
  line-height:1.4;
  font-size:18px;
  margin-bottom:20px;
  .m-privacy-consent & {
    @include mobile{
      font-size:11px;
    }
  }
  em{
    font-style:italic;
  }
  @include non-mobile{
    margin-bottom:30px;
    font-size:22px;
  }
  strong{
    font-weight:normal;
  }
}