html{
  color: #000;
  font-size: 100%;
  font-family: 'GTAmerica', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

a{
  text-decoration:none;
  color:$black;
}

em{
  font-style:normal;
}

h1,
.headline{
  font-weight: 300;
  line-height: 1;
  color: #fffefe;
  text-transform: none;
  text-align: left;
  font-size:4vh;
  text-align:center;

  @include non-mobile{
    font-size: 14vw;
  }
  &--small{
    line-height: 4vw;
    font-size:4vw;
    text-align:center;
    text-transform:uppercase;
    font-weight:300;
    @include non-mobile{
      font-size: 80px;
      line-height: 80px;
    }
    @include single-column{
      font-size:8vw;
      line-height: 8vw;
    }
  }
  &--big{
    font-family: 'Druk Wide Super', Arial, sans-serif;
    font-style:italic;
    font-weight: 400;
    text-transform: uppercase;
    font-size:15vw;
    letter-spacing:.43px;
    > span{
      margin:20px 0 25px;
    }
    // line-height:0.8;
    @include non-mobile{
      font-size: 120px;
      letter-spacing:.43px;

      > span, 
      em{
        display:block;
        line-height: 112px;
        margin:30px 0 40px;
      }
    }
  }
  em {
    display:block;
    color:$highlight1;
  }
}

h2{
  font-weight: 100;
  line-height: 100%;
  letter-spacing: .05em;
  text-transform: none;
  color:$white;
  font-size: 17px;
  @include non-mobile{
    font-size: 22px;
  }
}

p{
  // font-family: TTCommons, Arial, sans-serif;
  font-family: 'GT America';
  font-weight:normal;
  list-style: none;
  text-transform: none;
  line-height:1.4;
  font-size:18px;
  margin-bottom:20px;
  @include non-mobile{
    margin-bottom:30px;
    font-size:22px;
  }
  strong{
    font-weight:normal;
  }
}

.updated{
  @include updated-text;
}

.nav-link{
  @include header-nav-link;
}