$mobile-width: 450px;
$tablet-portrait-width: 768px;
$tablet-width: 900px;
$small-desktop-width: 1200px;
$medium-desktop-width: 1400px;

$lightgray: #e5e5e5;
$automatblack: #1E1F21;
$automatred: #EE3124;
$gray: #999;
$black: #000;
$white: #FFFFFF;
$highlight1: #cf8e3e;
$highlight2: #0b7853;
$defense: $highlight2;
$offense: $highlight1;