.player-card{
  &__image-column{
    display:flex;
    flex-direction:column;
    position:relative;
    padding:0 0 0;  
    // max-width: calc(100% - 800px);
    width:300px;
    min-width:300px;
    flex:0 0 auto;
    transition:opacity 0.25s linear 0.25s, max-width 0.625s ease-in-out 0s, max-height 0.25s ease-in-out 0.25s, min-height 0.5s linear 0s;
    z-index:2;
    opacity:1;
    .image-column-meta{
      position:absolute;
      bottom:30px;
      left:50%;
      transform:translateX(-50%);
      background:white;
      border:1px solid #858282;
      border-radius:5px;
      padding: 10px 10px 8px; 
      font-family: 'Decima';
      font-size:15px;
      font-weight:300;
      line-height:13px;
      display:flex;
      max-width:230px;
      width:100%;
      text-transform:uppercase;
      .separator{
        height:auto;
        flex: 0 0 auto;
        padding:0 10px;
        display:flex;
        justify-content:center;
        align-items:center;
        &:before{
          content: '';
          display:block;
          width:1px;
          height:110%;
          background-color:black;
        }
      }
      &-column{
        flex:1;
        display:grid;
        gap: 5px;
        > div{
          white-space:nowrap;
        }

      }
      strong{
        font-weight:400;
      }
    }
   
    // @include tablet-portrait-only{
    //   max-width:17.5%;
    // }
    
    @include mobile {
      padding-top:0;
      width:100%;
      max-width:100%;
      min-height:250px;
      background:white;
    }

    .player-card--transitioning &,
    .player-card--collapsed:not(.player-card--expanded) & {
      // transition:opacity 0.25s linear;
      @include mobile {
        min-height:0;
        overflow:hidden;
        transition:all 0s linear;
      }
    }
    // .player-card--collapsed & {
    //   transition:max-width 0.25s ease-in-out 0s;
    // }
    &-content{
      // display:none;
      // .player-card--expanded & {
      //   display:block;
      // }
      position:relative;
      
      @include mobile{
        position:absolute;
        width:100%;
        top: 0 !important;
        transform:translateY(-100%);
      }
    }
    &-inner{
      position:relative;
      flex:1;
      width:100%;
      // width:calc(100% - 40px); 
      // border-right:1px solid $darkmediumgray;
      padding:0 30px 0;
      // background:$black;  
      // background-size: 20px;
      // background-position: center top;
      border-radius: .625rem  0 0 .625rem;
      overflow:hidden;
      transition:padding-bottom 0.125s linear 0.25s;
      @include tablet-portrait-only{
        padding:0 20px 30px;
      }
      @include mobile{
        padding:0;
      }
      &:after{
        content:'';
        display:block;
        position:absolute;
        right:0;
        top:30px;
        bottom:30px;
        width:1px;
        background:$darkmediumgray;
        opacity:0;
        transition:opacity 0.25s linear 0.25s;
        .player-card--expanded & {
          opacity:1;
        }
        @include mobile{
          display:none;
        }
      }
      .player-card--expanded & {
        position:relative;
        padding-bottom:30px;
        &:after{
          opacity:1;
        }
        @include mobile{
          padding:0;
        }
      }
      .player-x-o{
        margin: 0 auto;
        z-index: -1;
        right: auto;
        width: auto;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-height:220px;
        opacity:1;
        @include mobile {
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          height: 100%;
          max-height: 100%;
        }
      }
    
      // .player-card--offense &{
      //   background-image: url('~@/assets/img/icons/offense-o.svg');
      // }
      // .player-card--defense & {
      //   background-image: url('~@/assets/img/icons/defense-x.svg');
      // }
    }
    @include non-mobile{
      // .player-card--collapsed &{
      //   max-width: 15.5%;
      // }
      .player-card--expanded & {
        max-width: calc(100% - 800px);
      }
    }
    @include tablet{
      .player-card--expanded & {
        max-width:17.5%;
      }
    }
    @include mobile {
      .player-card--expanded & {
        max-width:100%;
      }
    }
    &-img-wrapper{
      position:relative;
      height:500px;
      width:100%;
      overflow:hidden;
      box-sizing:content-box;
      border-bottom:1px solid $darkmediumgray;
      @include mobile {
        max-height:250px !important;
        border-bottom:0;
      }
    }
    &-img-wrapper img{
      position:absolute;
      top:0;
      width:100%;
      opacity:0;
      transition:opacity 0.25s linear 0.1s;
      &:not(.player-x-o){
        top:auto;
        bottom:0;
        .mock-draft & {
          top:20px;
          bottom:auto;
        }
        @include mobile{
          max-width:300px;
          top:0;
          left:50%;
          transform:translateX(-50%);
        }
      }
    }
    &-img-wrapper img.isLoaded {
      opacity:1;
    }
  }
  &__rank{
    @include card-rank;
    position:absolute;
    background:$black;
    color:$white;
    top: 15px;
    right: -25px;
    width: 50px;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    transition:top 0.5s linear 0.125s;
    span{
      display:block;
      margin-top:5px;
    }
    @include non-mobile{
      // .player-card--collapsed & {
      //   top:35px;
      //   transition:top 0.5s linear 0.125s;
      // }
    }
    @include mobile{
      top:15px;
      left:50%;
      margin-left:-135px;
      right:auto;
      .player-card--collapsed & {
        opacity:0;
      }
      .player-card--collapsed.player-card--expanded & {
        opacity:1;
        transition:opacity 0.25s linear 0.75s;
      }
      span{
        padding-top:1px;
      }
    }
  }
}