.player-card{
  position:relative;
  display:flex;
  flex-direction:column;
  background:$lightgray;
  border-radius: .625rem;
  margin-bottom:45px;
  overflow-x:visible;
  opacity:0;
  transition:all 0.25s linear, max-height 0.375s ease-in-out, margin-bottom 0.25s linear 0.125s, opacity 0.25s linear;
  
  &--all-cards-set{
    opacity:1;
  }
  
  // @include single-column{
  //   margin-bottom:15px;
  // }
  @include mobile{
    border:0px;
    margin-bottom:55px;
    border-radius: 0 0 .625rem .625rem;
  }
  &__image-info{
    position:relative;
    display:flex;
    overflow:hidden;
    @include mobile {
      flex-direction:column;
    }
    &:after{
        content:'';
        display:block;
        position:absolute;
        left:300px;
        top:30px;
        bottom:30px;
        width:1px;
        background:$darkmediumgray;
        opacity:0;
        transition:opacity 0.25s linear 0.25s;
        .player-card--expanded & {
          opacity:1;
        }
        @include mobile{
          display:none;
        }
      }
  }
  .app__content--collapsed & {
    margin-bottom:15px;
    &.player-card--expanded{
      margin-bottom:30px;
    }
    @include mobile {
      margin-bottom:20px;
    }
  }
  
  &--animated{
    transition:max-height 0.375s ease-in-out, margin-bottom 0.25s linear 0.125s, opacity 0.25s linear;
    @include mobile{
      transition:max-height 0.5s linear, margin-bottom 0.25s linear 0.125s, opacity 0.25s linear;
    }
  }
  &--transitioning{
    transition:max-height 0.5s ease-in-out 0.25s, margin-bottom 0.25s linear 0.125s, opacity 0.25s linear;
  }
  &-enter{
    max-height:0 !important;
    opacity:0;
    margin-bottom:0;
  }
  &-enter-to{
    opacity:1;
    margin-bottom:30px;
    &.player-card--collapsed{
      margin-bottom:15px;
    }
  }
  &-leave{
    opacity:1;
    margin-bottom:30px;
    &.player-card--collapsed{
      margin-bottom:15px;
    }
  }
  &-leave-to{
    max-height:0 !important;
    opacity:0;
    margin-bottom:0;
  }
  &-leave-active{
    transition:opacity 0.25s linear, max-height 0.35s ease-in 0.125s, margin-bottom 0.35s ease-in 0.125s;
  }
  &-enter-active{
    transition:opacity 0.25s linear 0.35s, max-height 0.35s linear, margin-bottom 0.35s ease-in-out;
  }
}