.player-card{
  // max-height:313px;
  &__info-column{
    position:relative;
    flex:1;
    opacity:1;
    overflow-x:visible;
    overflow-y:hidden;
    &--animate{
      transition:max-height 0.5s ease-out, max-width 0s linear 0.125s;
      @include mobile { 
        transition:max-height 0.5s linear, max-width 0s linear 0.125s;
        .player-card--expanded & {
          transition:max-height 0.5s ease-out, max-width 0s linear 0.125s;
        }
      }
    }
    // max-height:313px;
    @include tablet-portrait-only{
      // max-width:87.5%;
    }
    @include mobile {
      width:100%;
      max-width:100%;
      background:white;
      // padding-bottom:30px;
      .player-card--collapsed &{
        // padding-bottom:15px;
        border-radius:0.625rem;
        .player-card--expanded & {
          padding-bottom:0;
        }
      }
    }
    @include non-mobile{
      .player-card--collapsed &{
        max-width:84.5%;
        transition:all 0.25s ease-in-out 0.125s, max-height 0.25s ease-in-out 0.125s;
      }
      .player-card--transitioning & {
        transition:all 0.5s ease-in-out 0.125s, max-height 0.2s ease-in-out 0s;
        .player-card__top-data,
        .player-card__bottom-data{
          -webkit-animation: infoColumn-collapse 0.75s 1 linear;
            animation: infoColumn-collapse 0.75s 1 linear;
        }
      }
    }
  }
  &__meta-column{
    display:flex;
    flex-direction:column;
    flex:1;
  }
  &__top-data{
    position:relative;
    z-index:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:30px 30px 30px;
    min-height:255px;
    // .player-card--collapsed & {
    //   min-height:0;
    // }
    @include tablet-portrait-only{
      padding: 30px 20px 30px;
    }
    @include mobile {
      padding:0;
      margin-bottom:30px;
      flex-direction:column;
      border-radius: 0 0 0.625rem 0.625rem;
      min-height:0;
      overflow:hidden;
      .player-card--expanded & {
        margin-bottom:0;
      }
    }
  }
  &__meta-stats{
    display:flex;
    justify-content:space-between;
    width:100%;
    @include mobile {
      flex-direction:column;
    }
  }
  &__bottom-data{
    position:relative;
    z-index:1;
    overflow-x:hidden;
    
    > *{
      opacity:0;
      transition:opacity 0.25s linear 0s;
    }
    .player-card--expanded & {
      margin-top:0;
      > *{
        opacity:1;
        transition:opacity 0.25s linear 0.5s;
      }
    }
    @include non-mobile{
      padding:0 70px 0 30px;
    }
    @include tablet-portrait-only{
      padding:0 20px;
    }

    @include mobile{
      background:$lightgray;
      padding-top:0;
      padding-bottom:20px;
      border-radius:0 0 0.625rem 0.625rem;
      .player-card--expanded & {
        margin-top:-15px;
      }
      // padding-top:0.625rem;
      // .mock-draft & {
      //   padding-top:0;
      // }
      &-extended{
        padding:0 20px;
        margin-top:0;
        &:before{
          content:'';
          display:block;
          width:100%;
          height:1px;
          background:$mediumgray;
          margin-bottom:20px;
        }
      }
    }
  }
}

@keyframes infoColumn-collapse {
  0% {
    opacity: 1; 
  } 20%, 80% {
    opacity: 0; 
  } 100% {
    opacity: 1; 
  }
}